<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-5">
      <form #myForm="ngForm">

        <div class="mb-3">
          <label for="full_name" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="full_name" name="full_name" [(ngModel)]="userObject.full_name">
        </div>
        <div class="mb-3">
          <label for="phone_number" class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="phone_number" name="phone_number" [(ngModel)]="userObject.phone_number">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="eamil" class="form-control" id="email" name="email" [(ngModel)]="userObject.email">

        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="userObject.password">
        </div>

        <button *ngIf="!userObject.id" type="button" class="btn btn-primary" (click)="addUser(myForm.value)">Create</button>

        <button *ngIf="userObject.id" class="btn btn-info" (click)="updateUser()">Update</button>
        <button *ngIf="userObject.id" class="btn btn-default" (click)="clearEditData()">Cancel</button>

      </form>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-10 mt-5">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Full Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of allUsers">
              <td>{{user.full_name}}</td>
              <td>{{user.phone_number}}</td>
              <td>{{user.email}}</td>
              <td>{{user.password}}</td>
              <td>
                <button (click)="editUser(user)" class="btn btn-warning">Edit</button>
                <button (click)="deleteUser(user)" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>